*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* font family
font-family: 'Heebo', sans-serif;
font-family: 'Nunito', sans-serif; */
.container{
    width: 1440px;
    margin: auto;
}
a{
    text-decoration: none;
}

/* header secction css code start here  */
header{
    height: 66px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    background-color:#ed1b24;
    margin-top: 0;
}
#header-section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    line-height: 30px;
    padding-top: 15px;
}
.phone-number, .email{
    display: flex;
    cursor: pointer;
}
.email a, .follow a{
    line-height: 44px;
}
.email p{
    line-height: 30px;
    padding-left: 4px;
}
.follow{
    text-align: end;
}
.follow a{
    padding-left: 5px;
}
/* header secction css code end here  */

/* Nav secction css code start here  */
nav{
    margin-top: 33px;
}
#nav-section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.logo{
    display: flex;
}
.logo a img{
    width: 100%;
}
.logo p{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 58.75px;
}
.logo p sup{
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}
#nav-section .nav-menue{
    text-align: center;
}
.nav-menue{
    padding-top: 20px;
}
.nav-menue ul li{
    display: inline-block;
}
.nav-menue ul li a{
    padding: 0 11px;
    font-size: 25px;
    color: #000000;
}
.nav-menue a:hover{
    color:#febb43;
}
.nav-buttom{
    text-align: end;
    padding-top: 20px;
}
.nav-buttom a, .banner-buttom a{
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 45px;
    border: 1px solid #ed1b24;
    border-radius: 11px;
    background-color: #ed1b24;
}
.nav-buttom a:hover{
    color: #febb43;
    background-color: #ffffff;
}
/* Nav secction css code end here  */

/* Banner secction css code start here  */
#banner-section{
    padding-top: 140px;
}
.banner{
    display: grid; 
    grid-template-columns: 2fr 01.75fr 0fr;
}
.banner-detail{
    position: relative;
}
.banner-detail h1, .banner-detail h2{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    margin-top: 23px;
}
.banner-detail h2{
    font-size: 25px;
    text-transform: uppercase;
    line-height: 37px;
}
.banner-detail h1{
    font-size: 50px;
    line-height: 73px;
}
.banner-img{
    text-align: end;
    position: relative;
}
.banner-logo{
    position: absolute;
    bottom: -2px;
    right: 0;
}
.line{
    position: absolute;
    top: 150px;
    right: 180px;
}
.banner-buttom a{
    color: #000000;
    background-color: #febb43;
    border: none;
}
.banner-btn-section{
    display: flex;
    padding-top: 95px;
}
.banner-buttom-2{
    padding-left: 30px;
    display: flex;
    cursor: pointer;
}
.banner-buttom-2 p{
    padding: 5px 0px 0px 5px;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.banner-buttom-2:hover{
    color: #febb43;
}
/* Banner secction css code end here  */

/* worsk secction css code start here  */
#work-section{
    padding: 150px 0px;
    height:939px;
}
#work{
    display: flex;
    justify-content: space-between;
}
.work-card-1, .work-card-3{
    height: 396px;
    width: 379px;
}
#work h2{
    margin-top: 13px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 88px;
}
#work .name{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 33px;
    line-height: 48px;
    padding-top: 60px;
    color: #000000;
}
#work p{
    font-size: 27px;
    color: #767575;
    line-height: 37px;
    padding-top: 40px;
}
.work-card-1, .work-card-2, .work-card-3, .work-card-4, .work-card-5, .work-card-6{
    border: 1px solid #CACACA;
    border-radius: 11px;
    padding: 28px;
    margin-top: 15px;
}
.work-card-2, .work-card-6{
    height: 493px;
    width: 379px;
}
.work-card-4{
    width: 379px;
    height: 422px;
}
.work-card-4 .card-btn{
    padding-top: 40px !important;
}
.work-card-5{
    height: 396px;
    width: 379px;
    border: none;
}
.work-card-5 h2{
    font-size: 40px !important;
    padding-bottom: 50px;
}
.card-2{
    margin-top: 70px;
}
/* worsk secction css code end here  */

/* career secction css code start here  */
#career-section{
    margin-top: 50px;
}
.career{
    display: grid;
    display: grid; 
    grid-template-columns: 3fr 1fr 2fr;
}
.career-details h2{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 73.44px;
}
.career-details p{
    font-size: 25px;
    line-height: 47px;
    color: #A3A3A3;
    padding: 30px 0px;
    width: 590px;
}
/* career secction css code end here  */
/* portfolio-section secction css code start here  */
#portfolio-section{
    padding: 148px 0px;
}
.portfolio{
    display: flex;justify-content: space-between;
}
.img-3{
    width: 491px;
    height: 396px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 11px;
}
.img-3{
    text-align: center;
    margin-bottom: 10px;
}
.img-3 h3{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 46px;
    padding-bottom: 42px;
}
/* portfolio-section secction css code end here  */

/* Team-member secction css code start here  */
.team-heading{
    text-align: center;
}
.team-heading h2{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 33px;
}
.team-heading p{
    font-weight: 400;
    font-size: 25px;
    line-height: 47px;
    padding-bottom: 70px;
}
.team{
    display: flex;
    justify-content: space-between;
}
/* Team-member secction css code end here  */

/* Contact-us secction css code start here  */
#contact-us{
    padding: 140px 0px;
}
.contact{
    display: grid;
    grid-template-columns: 1.75fr 2fr 0fr;
}
.img-top{
    display: flex;
}
.img-top h4{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    width: 233px;
    height: 124px;
    padding: 40px 20px;
}
.img-top h4::first-letter{
    font-size: 90px;
    color: #febb43;
}
.contact li{
    list-style: square;
}
.contact-details h2{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    width: 628px;
    font-size: 50px;
    line-height: 73px;
    height: 124px;
    padding-bottom: 60px;
    
}
.contact-details p{
    font-size: 25px;
    line-height: 47px;
    color: #A3A3A3;
    width: 628px;
    margin-top: 60px;
}
.contact-details ul{
    width: 630px;
    height: 233px;
    padding: 60px;
}
.contact-details ul li{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 186.9%;
}
/* Contact-us secction css code end here  */
.review-header{
    display: flex;
    justify-content: space-between;
}
.review-header h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    padding-bottom: 40px;
}
.img-2, .imgs-3, .img-4{
    margin-top: 20px;
}
.review-header img{
    padding-top: 60px;
}
.imgs-3{
    text-align: end;
}

footer{
    height: 616px;
    background-color: #ED1B24;
    margin-top: 160px;
    padding: 55px 0px;
}
footer h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 186.9%;
    color: #FFFFFF;
}
.footer-details p{
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    line-height: 186.9%;
    padding-bottom: 50px;
}
.footer-contact{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.pages-area{
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
}
.pages-area ul li{
    list-style: none;
}
.pages-area ul li a{
    color: #FFFFFF;
    font-size: 25px;
    line-height: 186.9%;
}
.pages-area ul li a:hover{
    color: #939393;
}
.footer-address{
    text-align: center;
}
.newsletter{
    padding-left: 20px;
    margin-left: 40px;
}
.newsletter input{
    padding: 20px 320px 20px 10px;
    outline: none;
    border: none;
    margin-bottom: 30px;
}

/* copyright section css code here  */
.copyright{
    height: 44px;
}